---
import {Image} from 'astro:assets';

import Default from '@/layouts/Default.astro';
import HomeImageWide from '@/assets/arthur-malumian-wide.webp';
import HomeImage from '@/assets/arthur-malumian.webp';
import {PAGES_METADATA} from '@/consts';

const {title, description} = PAGES_METADATA.home;
---

<Default title={title} description={description} image={HomeImageWide}>
  <section>
    <h1>Arthur Malumian</h1>
    <Image class='photo' src={HomeImage} alt='Arthur Malumian' />
    <p>
      I am Arthur Malumian (рус. Арту́р Малумя́н), a programmer based in
      Novosibirsk, Russia.
    </p>
    <p>
      I currently work as a <strong><em>Front End Developer</em></strong>. You
      can view my <a href='/pdf/resume.pdf'>resume</a> for more information.
    </p>
    <p>
      I am a <strong><em>Vim</em></strong> evangelist — by the way, Vim is the best
      text editor in the world. My
      <a href='https://github.com/amalumian/dotfiles'>dotfiles</a>
      can be found on GitHub.
    </p>
    <p>
      I like to organize everything that can be organized, so you can check out
      my profiles on
      <a href='https://www.goodreads.com/amalumian'>Goodreads</a>,
      <a href='https://www.imdb.com/user/ur107408671/'>IMDb</a>, and
      <a href='https://www.ign.com/playlist/amalumian'>IGN</a>. Additionally,
      you may enjoy listening to my public playlists on
      <a
        href='https://open.spotify.com/user/31ayjsv2gsjfbsntntse4bzsiqly?si=525484dde53e45dc'
        >Spotify</a
      >.
    </p>
    <p>
      If you have any questions, please do not hesitate to contact me via
      <a href='mailto:arthurmalumian@gmail.com'>email</a>.
    </p>
  </section>
</Default>

<style>
  .photo {
    margin: 2rem 0 1rem 1rem;
    float: right;
    width: 33%;
    aspect-ratio: 9 / 16;
  }
</style>
