---
import Default from '@/layouts/Default.astro';
import ProjectsImage from '@/assets/projects/projects-page.png';
import {PAGES_METADATA} from '@/consts';

const {title, description} = PAGES_METADATA.projects;
---

<Default title={title} description={description} image={ProjectsImage}>
  <section>
    <h1>{title}</h1>
    <p>This page provides an overview of my projects:</p>
    <ul>
      <li>
        <a href='https://finance.malumian.dev'>Malumian Finance</a>
      </li>
    </ul>
  </section>
</Default>
